@import "./partials/colours";
@import "./partials/setup";
@import "./partials/game-start";
@import "./partials/buttons";
@import "./partials/levels";
@import "./partials/progress-bar";
@import "./partials/panels";
@import "./partials/images";
@import "./partials/animations";

html {
    font-size: 62.5%;
}

body {
    background: $primaryColour;
    text-align: center;
}

// Typography

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    font-size: 2rem;
    font-weight: bold;
}
// Wrappers

.wrapper {
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.hide {
    display: none;
}

#level-one {
    display: none;
}

@import "./partials/mediaqueries";