@import "./partials/colours";
@import "./partials/setup";
@import "./partials/game-start";
@import "./partials/buttons";
@import "./partials/levels";
@import "./partials/progress-bar";

html {
    font-size: 62.5%;
}

body {
    background: $primaryColour;
    text-align: center;
}

// Typography

h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}
// Wrappers

.wrapper {
    width: 100%;
    margin: 0 auto;
}
.hide {
    display: none;
}

#level-one {
    display: none;
}
