.level-container {
    border: 3px solid black;
    width: 70%;
    padding: 10px;
    height: 400px;
    margin: 0 auto;
    background: $secondaryColour;
}

span {
    display: inline-block;
    background: rgba(255, 255, 255, 0.5);
    width: 40px;
}

.timer-container {
    height: 40px;
}