.visit-panel {
    width: 60%;
    border: 3px solid black;
    background: $secondaryColour;
    margin: 0 auto;
    padding: 10px;
    .say-no-panel {
        width: 70%;
        margin: 0 auto;
        &:hover {
            border: 3px solid black;
        }
    }
}