article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#game-start-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid black;
  padding: 10px;
  width: 70%;
  height: 400px;
  margin: 0 auto;
  background: repeating-linear-gradient(to right, #579bf5, #579bf5 40px, #fff386 40px, #fff386 80px); }
  #game-start-panel .game-description {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px; }

button {
  background: #ff8575;
  border: 3px solid black;
  font-size: 2rem;
  text-transform: uppercase; }
  button:hover, button:active {
    background: white; }

#play-again {
  background: white; }

.level-container {
  border: 3px solid black;
  width: 70%;
  padding: 10px;
  height: 400px;
  margin: 0 auto;
  background: #579bf5; }

span {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  width: 40px; }

.timer-container {
  height: 40px; }

.progress {
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid black; }
  .progress #progress {
    height: 60px;
    background: repeating-linear-gradient(45deg, #ff8575, #ff8575 40px, #fff386 40px, #fff386 80px);
    border-radius: 10px; }

.losing-panel-container {
  border: 3px solid black;
  background: #ff8575;
  width: 40%;
  padding: 10px;
  height: 200px;
  margin: 0 auto; }

.visit-panel {
  width: 60%;
  border: 3px solid black;
  background: #579bf5;
  margin: 0 auto;
  padding: 10px; }
  .visit-panel .say-no-panel {
    width: 70%;
    margin: 0 auto; }

.winning-game-panel {
  border: 3px solid black;
  background: #ff8575;
  width: 40%;
  padding: 10px;
  height: 500px;
  margin: 0 auto; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  header .pie-image {
    width: 10%;
    margin: 20px; }

.level-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 70%;
  margin: 0 auto; }
  .level-description .level-image {
    width: 15%; }

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.6.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* --------------- */
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: 5; }

/* --------------- */
@keyframes swing-reverse {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); } }

@-webkit-keyframes swing-reverse {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); } }

.swing-reverse {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing-reverse;
  animation-name: swing-reverse;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: 5; }

html {
  font-size: 62.5%; }

body {
  background: #fff386;
  text-align: center; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.7rem; }

h3 {
  font-size: 2.5rem; }

p {
  font-size: 2rem;
  font-weight: bold; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

img {
  max-width: 100%; }

.hide {
  display: none; }

#level-one {
  display: none; }

@media only screen and (max-width: 815px) {
  h3 {
    font-size: 2rem; }
  p {
    font-size: 1.6rem; } }

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.8rem; }
  .level-container {
    height: 339px; } }

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 2.6rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.4rem; }
  p {
    font-size: 1.2rem; }
  header .pie-image {
    width: 15%;
    margin: 20px; }
  .level-description {
    width: 100%; } }
